.logo {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.03em;
  line-height: 1.16;
  color: #212121;
}

.logo-accent {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.position-menu {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 480px;
  height: 60px;
}

.position-menu::after {
  content: ' ';
  position: absolute;
  display: inline-block;
  top: 59px;
  left: 0;
  display: block;
  width: 480px;
  height: 0px;
  border: 1px solid #ECECEC;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 480px;
  height: 60px;
}

.mobile-menu {
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  z-index: 1;
  padding: 60px 0px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}

.site-nav {
  margin-bottom: 60px;
}

.site-nav_link {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  color: #212121;
}

.site-nav_link:hover, .site-nav_link:focus {
  color: #2196f3;
}

.site-nav_link.current {
  position: relative;
  color: #2196f3;
}

.site-nav_link.current::after {
  content: ' ';
  position: absolute;
  top: 29px;
  left: 0px;
  width: 100%;
  border: 2px solid #2196f3;
  border-radius: 2px;
}

.site-nav_list {
  display: block;
  text-align: center;
}

.site-nav_list:not(:last-child) {
  margin-bottom: 40px;
}

.aust-nav_link {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

.aust-nav_link:hover, .aust-nav_link:focus {
  color: #2196f3;
}

.icon_aust-nav {
  fill: #757575;
  margin-right: 10px;
}

.aust-nav_link:hover .icon_aust-nav {
  fill: #2196f3;
}

.aust-nav_list {
  text-align: center;
}

.aust-nav_list:not(:last-child) {
  margin-bottom: 16px;
}

.button-menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0px;
  padding: 0px;
  top: 0px;
  right: 15px;
  border: none;
  background-color: transparent;
}

.button-menu .icon-cross {
  display: none;
}

.button-menu.is-open .icon-cross {
  display: block;
}

.button-menu.is-open .icon-menu {
  display: none;
}

.svg_button-menu:focus .icon-cross,
.svg_button-menu:hover .icon-cross {
  fill: #2196f3;
}

.svg_button-menu:focus .icon-menu,
.svg_button-menu:hover .icon-menu {
  fill: #2196f3;
}

.container {
  padding: 0px 15px;
  width: 480px;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/*# sourceMappingURL=main.css.map */