/* цвет основного текста #757575;*/
/*вторичный цвет #212121; */
/* белый #FFFFFF;*/
/*синий #2196F3; */
/*основной фон background: #FFFFFF;  */
/*наша команда background:#F5F4FA; */
:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primery-white-color: #ffffff;
  --background-footer: #2f303a;
  --footer-text-color: rgba(255, 255, 255, 0.6);
}
body {
  background-color: var(--primery-white-color);
  color: var(--primery-text-color);

  font-family: Roboto, sans-serif;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.06em;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  width: 1200px;
  /* outline: 2px solid tomato; */
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* main-nav */
.main-nav {
  display: flex;
  align-items: center;
}
.flex {
  display: flex;
  align-items: center;
}
/* backdrop */
.backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  min-height: 581px;
  padding: 40px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-text {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  margin: 0px;

  font-weight: bold;
  font-size: 19px;
  line-height: 1.15;
}
.imputs {
  display: flex;
  justify-content: center;
  width: 448px;
  height: 324px;
  margin: 30px 0px 20px 0px;
  border: 1px solid black;
}
.modal-p {
  margin-bottom: 30px;
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  background-color: #fff;
}
.svg-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-close:hover {
  fill: var(--accent-color);
}

/* logo */
.logo {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  text-decoration: none;
}
.logo-accent {
  color: var(--accent-color);
}
.logo .logo-white {
  color: var(--primery-white-color);
}
.logo-footer {
  display: block;
  margin-bottom: 20px;
}
/* утилиты */

ul {
  list-style: none;
  padding-inline-start: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.list {
  margin: 0px;
  padding: 0px;
}
p {
  margin-top: 0px;
  margin-bottom: 0px;
}
/* site-nav */
.site-nav {
  margin-left: 85px;
  display: flex;
}
.site-nav > .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link-current {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}
.item {
  position: relative;
}
.link-current::after {
  display: inline-block;
  content: "";
  width: 100%;
  height: 4px;

  position: absolute;
  bottom: 0;
  left: 0;

  background: #2196f3;
  border-radius: 2px;
}
/* auth-nav */
.aust-nav__svg {
  display: block;
  margin-right: 10px;
}

.auth-nav {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.auth-nav > .item + .item {
  margin-left: 30px;
}

.auth-nav .link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primery-text-color);
  fill: var(--primery-text-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;

  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav .link:focus,
.auth-nav .link:hover {
  color: var(--accent-color);
  fill: var(--accent-color);
}
/* hero */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/header.jpg);
  text-align: center;
}
.hero .title {
  margin-top: 0px;
  margin-bottom: 30px;

  color: var(--primery-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}
/* button */
.button {
  display: flex;
  justify-content: center;
  border-radius: 4px;
  min-width: 200px;
  text-align: center;
  margin-bottom: 50px;

  color: var(--title-text-color);
  background-color: var(--primery-white-color);
}
.primery,
.primery:focus,
.primery:hover {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
  border: none;

  background-color: var(--accent-color);
  color: var(--primery-white-color);
  font-family: Roboto;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
.button .secondary {
  padding: 6px 22px;
  border-radius: 4px;
  min-width: 73px;
  height: 38px;

  text-align: center;

  color: var(--title-text-color);
  background: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: none;

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button .secondary:focus,
.button .secondary:hover {
  background-color: var(--accent-color);
  color: var(--primery-white-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.button > .item + .item {
  margin-left: 8px;
}
/*особенности  */
.feature {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature .list {
  display: flex;
}
.feature .item {
  width: 270px;
  height: 251px;
}
.list > .item + .item {
  margin-left: 30px;
}
.feature p {
  margin: 0px;
}
.feature-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 25px 100px;
  margin-bottom: 30px;

  background: #f5f4fa;
  border-radius: 4px;
}

.feature .title {
  margin-top: 0px;
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
/* section чем мы занимаемся */
.thumb {
  position: relative;

  width: 370px;
  height: 294px;
}
.thumb-li {
  width: 370px;
  height: 294px;
}
.section .list {
  display: flex;
  justify-content: space-between;
}
.section .title {
  margin-top: 0px;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.section .white {
  margin: 0px;
  color: var(--primery-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
}
.thumb-white {
  position: absolute;
  margin: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 27px 83px;
  background: rgba(47, 48, 58, 0.8);
}
/* наша команда */
.our-team {
  background-color: #f5f4fa;
}
.card {
  background-color: var(--primery-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.imagin {
  margin-bottom: 30px;
}
.section .title-name {
  margin-top: 0px;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.section .title-profeshion {
  margin-top: 0px;
  margin-bottom: 16px;
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.social-networks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 206px;
  height: 44px;
  margin: 0px 32px 24px;
}
.networks-item:not(:last-child) {
  margin-right: 10px;
}
.networks-link {
  display: block;
  padding: 12px;
  border-radius: 50%;
  fill: #afb1b8;
  background-color: var(--primery-white-color);

  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.networks-link:focus,
.networks-link:hover {
  fill: var(--primery-white-color);
  background-color: var(--accent-color);
}
.svg-link {
  display: block;
  width: 20px;
  height: 20px;
}

.networks-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
}
/* постоянные клиенты */
.clients {
  display: block;
  width: 170px;
  height: 90px;
  margin: 0px;
  padding: 20px 63px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;

  fill: #afb1b8;

  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients:focus,
.clients:hover {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}
.clients-svg {
  display: block;
  width: 44.27px;
  height: 49.23px;
}
a {
  color: var(--primery-text-color);
}

/* portfolio */
.top-line {
  border-top: 1px solid #ececec;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.link-portfolio {
  width: 370px;
  height: auto;
  padding: 20px 24px;

  background: #fff;

  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.card-img {
  display: block;
}

.parents {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform: translatey(+100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: overlay, transform;
}
.flex-element a:focus .overlay,
.flex-element a:hover .overlay {
  transform: translatex(0);
}

.section .white-portfolio {
  padding: 63px 24px;

  background-color: rgba(33, 150, 243, 0.9);

  color: var(--primery-white-color);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
}

.flex-element {
  width: 370px;
  height: 404px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.flex-element:focus,
.flex-element:hover a {
  display: block;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.flex-element:nth-child(3n) {
  margin-right: 0px;
}
.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.section .h {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}
.section .title-h {
  margin-top: 0px;
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.section .portfolio {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}
a {
  text-decoration: none;
}
/* footer */
.footer {
  background-color: var(--background-footer);
  color: var(--footer-text-color);
}

.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 252px;
}
.footer .white {
  display: block;
  color: var(--primery-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 20px;
}
.footer .accent {
  color: var(--primery-white-color);
}
.footer .text-normal {
  font-style: normal;
}
.svg-footer {
  display: block;
  width: 44px;
  height: 44px;
}

.network-footer {
  display: flex;
}
.network-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 206px;
  height: 44px;
}

.network-footer > li:not(:last-child) {
  margin-right: 10px;
}
.network-footer > li {
  padding: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.network-footer > li:hover {
  background-color: var(--accent-color);
}
.button-footer::after {
  display: inline-flex;
  vertical-align: middle;

  content: "";

  width: 24px;
  height: 24px;
  background-size: contain;
  background-image: url(../images/icon-send.png);

  margin-left: 10px;
}
