.auth-nav {
  margin-left: auto;
  display: flex;
  align-items: center;

  & .item + .item {
  margin-left: 30px;
}
}

.aust-nav__svg {
  display: block;
  margin-right: 10px;
}



.auth-nav .link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $primery-text-color;
  fill: $primery-text-color;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;

  transition-property: color, fill;
  @extend%transition;
 

  &:hover,
  &:focus{
  color: $accent-color;
  fill: $accent-color;
  }
}
