.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  & >.item + .item {
  margin-left: 8px;
}
}


.primery {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
  border: none;

  background-color: $accent-color;
  color: $primery-white-color;
  font-family: Roboto;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
 .secondary {
   display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  min-width: 73px;
  height: 38px;

  text-align: center;

  color: $title-text-color;
  background: #F5F4FA;;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: none;

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
  
  &:focus,
  &:hover {
  background-color: $accent-color;
  color: $primery-white-color;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
}




.button-footer::after {
  display: inline-flex;
  vertical-align: middle;

  content: "";

  width: 24px;
  height: 24px;
  background-size: contain;
  background-image: url(../../images/icon-send.jpg);

  margin-left: 10px;
}