.clients {
  display: block;
  width: 170px;
  height: 90px;
  margin: 0px;
  padding: 20px 63px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;

  fill: #afb1b8;

  transition-property: border, fill;
  @extend %transition;

  &:focus,
  &:hover {
  fill: $accent-color;
  border: 1px solid $accent-color;
   @extend %transition;
}
}
.clients-svg {
  display: block;
  width: 44.27px;
  height: 49.23px;
}



