.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 252px;
}

.footer {
  background-color: $background-footer;
  color: $footer-text-color;

  & .white {
  display: block;
  color: $primery-white-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 20px;
}

  & .accent {
  color: $primery-white-color;
}
  & .text-normal {
  font-style: normal;
}
}

 
.svg-footer {
  display: block;
  width: 44px;
  height: 44px;
}


.network-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 206px;
  height: 44px;

  & > li {
  padding: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition-property: background-color;
  @extend %transition;

  &:hover {
  background-color: $accent-color;
}

}
}

.network-footer > li:not(:last-child) {
  margin-right: 10px;
}




.subscribe {
  display: inline-block;
  margin-right: 12px;
  padding: 15px 16px;
  width: 358px;
  height: 50px;

  color:$primery-white-color;
  background-color: $background-footer;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}