 
.logo{ 
  
font-weight: 700;
font-size: 24px;
letter-spacing: 0.03em;
line-height: 1.16;

color: $title-text-color;
   @media screen and(min-width:768px){
    margin: 26px 0; 
   }
   @media screen and (min-width:1200px){
   margin-right: 85px;  
   }
}


 
.logo-accent{

 font-family: Raleway, sans-serif;
 font-style: normal;
 font-weight: 700;
 font-size: 24px;
 line-height: 1.16;
 letter-spacing: 0.03em;

 color: $accent-color;
   
}
@media screen and (max-width:767px){
.position-menu{
  position: relative;
 display: block;
 margin-left: auto;
  margin-right: auto;
 width: 100%;
 height: 60px;

}
}

.position-menu::after{
  content: ' ';
  position: absolute;
  display: inline-block;
  top: 59px;
  left: 0;
  display: block;
  width: 100%;
  height: 0px;
  

  border: 1px solid #ECECEC;
  @media screen and (min-width:768px){
    top: 79px;
    width: 100%;
  }
}
.header{
  display: flex;
 margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
  
  
  @media screen and (max-width:767px){
    padding: 10px 15px;
  align-items: center;
  justify-content: space-between;
  max-width: 480px;
  height: 60px;
  }
  @media screen and (min-width:768px) and (max-width:1199px){
    width: 768px;
    height: 80px;
   
    justify-content: space-between;
  }
  @media screen and (min-width:1200px){
    width: 1200px;
    height: 80px;
  }
 
}
@media screen and (max-width:767px) {
   .mobile-menu{
  display: none;
  position: absolute;
  top:100%; 
  left: 0px;  
  width: 100%;
  z-index: 1;
  padding: 60px 0px; 
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);  

  &.is-open{
    display: block;
  }
 }

}
.mobile-menu{
  @media screen and (min-width:768px){
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
}
 



 

.site-nav{
  @media screen and (max-width:767px){
margin-bottom: 60px;
  }
 
 @media screen and (min-width:768px){
   display: flex;
   flex-wrap: nowrap;
   margin-right: 84px;
 }

  @media screen and (min-width:1200px){
margin-right: 305px;
  }
 
}
.site-nav_link{
  display: inline-block;
   
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-size-adjust: 100%;
  @media screen and (min-width:768px){
    font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

  }

  color: $title-text-color;
  &:hover,
  &:focus{
   color: $accent-color;   
  }
  &.current{
    position: relative;
    color: $accent-color;
  }   
 }

 .site-nav_link.current::after{
   content: ' ';
   position: absolute;
   top:29px;
   left: 0px;
   width: 100%;
   
   
   border: 2px solid $accent-color;
   border-radius: 2px;
   @media screen and(min-width:768px){
   top: 43px;  
   }
 }
 .site-nav_list{
   @media screen and(max-width:767px){
     display: block;   
  text-align: center;
  &:not(:last-child){
    margin-bottom: 40px;  
  }    
   }
  @media screen and (min-width:768px){
    &:not(:last-child){
      margin-right: 50px;
    }
  }
 }
 
  
 .aust-nav{
   @media screen and (min-width:1200px){
     display: flex;
     flex-wrap: nowrap;
   }
 }
 
 .aust-nav_link{
  display: inline-block;
   
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
   

  color: $primery-text-color;
  &:hover,
  &:focus{
   color: $accent-color;   
  }
  @media screen and (min-width:768px){
    font-weight: 500;
font-size: 12px;
line-height: 1.16;


letter-spacing: 0.02em;

  }
  @media screen and (min-width:1200px){
    font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

  }
 }
 
 .icon_aust-nav{
   
   fill: #757575;
  margin-right: 10px;
  @media screen and (min-width:768px) {
    margin-right: 4px;
  }
  @media screen and(min-width:1200px){
    margin-right: 10px;
  }
 }
 .aust-nav_link:hover .icon_aust-nav{
   fill: $accent-color;
 }

 .aust-nav_list{
  text-align: center;
   &:not(:last-child){
   margin-bottom: 16px;  
   }
   @media screen and (min-width:768px){
        &:not(:last-child){
   margin-bottom: 10px;  
   }
   }
   @media screen and (min-width:1200px){
        &:not(:last-child){
   margin-right: 30px; 
   margin-bottom: 0px; 
   }
   }
    
     
   }
 

 


 
   .button-menu{
  display: inline-flex;   
  
  margin: 0px;
  padding: 0px;
  top: 0px;
  right: 15px;
  border: none;
  
  background-color: transparent;
   
 
& .icon-cross{
  display: none;  
 }
&.is-open .icon-cross{
  display: block;


}
&.is-open .icon-menu{
  display: none;  

}
 }
.button-menu{
  @media screen and (min-width:768px) {
    display: none;
  }
}

 
.svg_button-menu:focus ,
.svg_button-menu:hover{
  & .icon-cross{
     fill: $accent-color;
  }
  & .icon-menu{
     fill: $accent-color;
  }
}
 

    


