 
.logo{ 
font-weight: 700;
font-size: 24px;
letter-spacing: 0.03em;
line-height: 1.16;

color: $title-text-color;
   
}
.logo-accent{

 font-family: Raleway, sans-serif;
 font-style: normal;
 font-weight: 700;
 font-size: 24px;
 line-height: 1.16;
 letter-spacing: 0.03em;

 color: $accent-color;
   
}
.position-menu{
  position: relative;
 display: block;
 margin-left: auto;
  margin-right: auto;
 width: 480px;
 height: 60px;
 


}
.position-menu::after{
  content: ' ';
  position: absolute;
  display: inline-block;
  top: 59px;
  left: 0;
  display: block;
  width: 480px;
  height: 0px;

  border: 1px solid #ECECEC;
}
.header{
  display: flex;
  justify-content: space-between;
  
  
  padding: 10px 15px;
  align-items: center;
  width: 480px;
  height: 60px;
  
}

.mobile-menu{
  display: none;
  position: absolute;
  top:100%; 
  left: 0px;  
  width: 100%;
  z-index: 1;
  padding: 60px 0px; 
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);  

  &.is-open{
    display: block;
  }
 }

 

.site-nav{
 margin-bottom: 60px;   
}
.site-nav_link{
  display: inline-block;
   
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-size-adjust: 100%;

  color: $title-text-color;
  &:hover,
  &:focus{
   color: $accent-color;   
  }
  &.current{
    position: relative;
    color: $accent-color;
  }   
 }

 .site-nav_link.current::after{
   content: ' ';
   position: absolute;
   top:29px;
   left: 0px;
   width: 100%;
   
   
   border: 2px solid $accent-color;
   border-radius: 2px;
 }
 .site-nav_list{
  display: block;   
  text-align: center;
  &:not(:last-child){
    margin-bottom: 40px;  
  }    
 }

 
 .aust-nav_link{
  display: inline-block;
   
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;

  color: $primery-text-color;
  &:hover,
  &:focus{
   color: $accent-color;   
  }
  
 }
 
 .icon_aust-nav{
   
   fill: #757575;
  margin-right: 10px;
 }
 .aust-nav_link:hover .icon_aust-nav{
   fill: $accent-color;
 }

 .aust-nav_list{
  text-align: center;
   &:not(:last-child){
   margin-bottom: 16px;  
   }
 }

 


 .button-menu{
  display: inline-flex;   
  
  margin: 0px;
  padding: 0px;
  top: 0px;
  right: 15px;
  border: none;
  
  background-color: transparent;
& .icon-cross{
  display: none;  
 }
&.is-open .icon-cross{
  display: block;


}
&.is-open .icon-menu{
  display: none;  

}
 }

.svg_button-menu:focus ,
.svg_button-menu:hover{
  & .icon-cross{
     fill: $accent-color;
  }
  & .icon-menu{
     fill: $accent-color;
  }
}

    


