.our-team {
  background-color: #f5f4fa;
}
.card {
  background-color: $primery-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.imagin {
  margin-bottom: 30px;
}
.section .title-name {
  margin-top: 0px;
  margin-bottom: 10px;
  color: $title-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.section .title-profeshion {
  margin-top: 0px;
  margin-bottom: 16px;
  color: $title-text-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.social-networks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 206px;
  height: 44px;
  margin: 0px 32px 24px;
}

.networks-link {
  display: block;
  padding: 12px;
  border-radius: 50%;
  fill: #afb1b8;
  background-color:$primery-white-color;

  transition-property: background-color, fill;
  @extend %transition;

  &:hover ,
  &:focus { fill: $primery-white-color;
  background-color: $accent-color;}
}

.svg-link {
  display: block;
  width: 20px;
  height: 20px;
}

.networks-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  &:not(:last-child) {
  margin-right: 10px;
}
}
