.thumb {
  position: relative;

  width: 370px;
  height: 294px;

  &-li {
  width: 370px;
  height: 294px;
}

&-white {
  position: absolute;
  margin: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 27px 83px;
  background: rgba(47, 48, 58, 0.8);
}
}

.section {
  & .list {
  display: flex;
  justify-content: space-between;
}

& .title {
  margin-top: 0px;
  margin-bottom: 50px;
  color: $title-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
& .white {
  margin: 0px;
  color: $primery-white-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
}

}

